.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.bg-cover {
    background-image: url("../images/main-bg-2.jpeg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.form-signin{
    background-color: rgb(48, 98, 69);
    padding:20px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width:5px;
}

input{
    margin-bottom:10px;
}

img{
    max-width: 500px;
    max-height: 200px;
    margin: auto;
}